{% extends 'base.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    <div>
        <h1>Edit Course</h1>
        <div>
            {{ form_start(form) }}
            <div>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div>
                {{ form_label(form.department) }}
                {{ form_widget(form.department) }}
            </div>
            <button>Save Changes</button>
            <a href="{{ path('app_schedules') }}">Cancel</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
