{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}

{% block body %}
    <h1>{{ course.name }}</h1>

    <h2>Assignments</h2>

    <table border="1">
        <thead>
        <tr>
            <th>Title</th>
            <th>Teacher</th>
            <th>Due Date</th>
        </tr>
        </thead>
        <tbody>
        {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.title }}</td>
                <td>{{ assignment.teacher }}</td>
                <td>{{ assignment.dueDate }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No assignments found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{{ path('app_schedules') }}">Back</a>
{% endblock %}
