{% extends 'base.html.twig' %}

{% block title %}Smart School Portal{% endblock %}

{% block body %}
    <div>
        <h1>Smart School Portal</h1>
        <div>
            <a href="{{ path('schedule-statistics') }}">Watch Statistics</a>
        </div>
        <div>
            <a href="{{ path('app_course_search') }}">Find courses</a>
        </div>
        {% for schedule in schedules %}
            <div>
                <div>
                    <h2>{{ schedule.title }}</h2>
                    <p>{{ schedule.description }}</p>
                    <a href="{{ path('app_course_new', {id: schedule.id}) }}">Add Course</a>
                </div>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Assignments</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in schedule.courses %}
                            <tr>
                                <td>{{ course.name }}</td>
                                <td>{{ course.department }}</td>
                                <td>
                                    <a href="{{ path('app_course_assignments', {id: course.id}) }}">View Assignments</a>
                                </td>
                                <td>
                                    <a href="{{ path('app_course_edit', {id: course.id}) }}">Edit</a>
                                </td>
                                <td>
                                    <form method="POST" action="{{ path('app_course_delete', {id: course.id}) }}" onsubmit="return confirm('Are you sure you want to delete this course?')">
                                        <button type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>No courses found for this schedule.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <div>
                No schedules found.
            </div>
        {% endfor %}
    </div>
{% endblock %}
